
<h3>Channels</h3>
<a href="#"><span class="glyphicon glyphicon-home"></span></a>
<ul class="list-unstyled">
<div ng-repeat="(channelId, channel) in channels">
  <li class="text-left"><a href="#/{{ channelId }}">{{ channel.name }}</a></li>
</div>
</ul>

<form role="form" class="form-inline" ng-submit="addChannel()">
	<input type="text" class="form-control input-sm" id="newChannel" ng-model="channel.name" 
		placeholder="Channel name"/>
  	<button type="submit" class="btn btn-mini">Add</button>
</form>


